@font-face {
    src:url(fonts/OneDirection.ttf)format("truetype");
    font-family: nos;
}
.paragraph{
    text-align: center;
    font-size: 30px;
    font-family:sans-serif;
}
.paragraph2{
    text-align:center;
    font-size: 100px;
    font-family: flex;
    color:rgb(64, 238, 21);
    text-shadow: 4px 4px 8px rgba(4, 16, 0, 0.866);
}

.menu-bar
{
text-align:center;
background-color: #65dcda;
}
.menu-bar ul
{
   display: inline-flex;
   color:rgb(25, 22, 199);
}
.menu-bar ul li
{
    font-family: Impact;
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li:hover
{

    background: rgba(21, 15, 2, 0.814);
    color: #9c2323;
    border-radius:3px;
}
.paragraph5{
    font-size: 17px;
    font-family:flex;
    margin: 20px;
    color:hsla(22, 88%, 47%, 0.936);
    font-weight: bold;
    text-shadow: 4px 4px 8px rgb(58, 10, 230);
}


 
.lets-go-btn{
    color: floralwhite;
    background: rgb(189, 10, 132);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: -15px; 
}
.lets-go-btn:hover{
    background: rgb(54, 1, 1);
}

.icons{
    display: flex;
    font-size: 3rem;
    margin-top:0;
    line-height: 0;
    align-items: flex-end;
    display: flex;
    gap: 1px;
    justify-content: center;
    
}

.icons a { margin-right:75px; }

.icons :hover{
    transform: scale(1.5);
}

.footer{
    background-color:black;
    margin-top:28%;
}
.p1{
    color: floralwhite;
    font-size: larger;
    padding-bottom: 10px;
    
}
